.works {
	$color__text__black: #1f1f1f;
	$color__text__white: #ffffff;
	max-width: 1440px;
	width: calc(100vw - 30px);
	margin: 12.5rem auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media all and (max-width: 992px) {
		width: calc(100vw - 100px);
		margin: 8.75rem auto 7.5rem auto;
	}
	@media all and (max-width: 769px) {
		width: calc(100vw - 96px);
		margin: 6.25rem auto;
	}
	@media all and (max-width: 575px) {
		width: calc(100vw - 40px);
	}
	@media all and (max-width: 320px) {
		width: calc(100vw - 20px);
		margin: 6.25rem auto 8.75rem auto;
	}

	.works__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3.125rem;
		@media all and (max-width: 992px) {
			margin-bottom: 1.875rem;
		}
		@media all and (max-width: 769px) {
			margin-bottom: 2.5rem;
		}
		@media all and (max-width: 575px) {
			margin-bottom: 1.4375rem;
		}
		@media all and (max-width: 320px) {
			margin-bottom: 2rem;
		}
		.pointer {
			width: 1.5rem;
			height: 1.5rem;
			display: none;
			@media all and (max-width: 575px) {
				width: 1.5rem;
				height: 1.5rem;
				display: block;
			}
		}
		h2 {
			color: $color__text__black;
			font-style: normal;
			font-weight: 600;
			font-size: 2.25rem;
			line-height: 42px;
			letter-spacing: 0.02em;
			@media all and (max-width: 992px) {
				font-size: 1.75rem;
				line-height: 33px;
			}
			@media all and (max-width: 575px) {
				font-size: 1.125rem;
				line-height: 21px;
			}
			@media all and (max-width: 320px) {
				height: 1.5rem;
			}
		}
	}
	.works__block {
		display: flex;
		margin: 0 auto;
		@media all and (max-width: 770px) {
			width: 100%;
			overflow: scroll;
			height: 25rem;
		}
		@media all and (max-width: 575px) {
			width: calc(98% - 2%);
			height: 18rem;
		}
		@media all and (max-width: 376px) {
			width: calc(99% - 1%);
			height: 26rem;
		}

		.burul__block {
			width: 25rem;
			height: 31.25rem;
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			cursor: pointer;
			@media all and (max-width: 1024px) {
				width: rem(304);
				height: 24rem;
			}
			@media all and (max-width: 992px) {
				width: 16rem;
				height: 22rem;
			}
			@media all and (max-width: 769px) {
				width: 14rem;
				height: 17.25rem;
			}
			@media all and (max-width: 575px) {
				width: 15rem;
				height: 18rem;
			}
			@media all and (max-width: 320px) {
				width: 17rem;
				height: 20rem;
				border-radius: 10px;
			}
			.burul__img {
				@media all and (max-width: 769px) {
					width: 14rem;
					height: 17.25rem;
				}
				@media all and (max-width: 320px) {
					width: 17rem;
					height: 20rem;
				}
				img {
					width: 25rem;
					height: 31rem;
					@media all and (max-width: 992px) {
						width: 18rem;
						height: 22.5rem;
					}
					@media all and (max-width: 769px) {
						width: 14rem;
						height: 17.25rem;
					}
					@media all and (max-width: 320px) {
						width: 17rem;
						height: 20rem;
					}
				}
			}
			.burul__text {
				text-align: start;
				.burul__text__none {
					display: none;
					@media all and (max-width: 320px) {
						display: inline;
					}
				}
				padding: 1.25rem;
				background: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(3.125rem);
				border-radius: 0.625rem;
				transition: 1s;
				color: $color__text__white;
				@media all and (max-width: 1024px) {
					padding: 0.875rem;
					width: 19rem;
					height: 24rem;
				}
				@media all and (max-width: 992px) {
					padding: 0.875rem;
					width: 16rem;
					height: 16.75rem;
				}
				@media all and (max-width: 769px) {
					height: 17.5rem;
					width: 14rem;
				}
				@media all and (max-width: 575px) {
					padding: 0.75rem;
					width: 14rem;
					height: 17.25rem;
				}
				@media all and (max-width: 320px) {
					width: 17.5rem;
					height: 20rem;
					border-radius: 1px;
				}
				h4 {
					font-style: normal;
					font-weight: 600;
					font-size: 1rem;
					line-height: 19px;
					letter-spacing: 0.02em;
					@media all and (max-width: 992px) {
						font-size: 0.75rem;
						line-height: 14px;
					}
					@media all and (max-width: 769px) {
						font-size: 0.75rem;
						line-height: 14px;
					}
					@media all and (max-width: 320px) {
						font-size: 1rem;
						line-height: 19px;
					}
				}
				h3 {
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 28px;
					align-items: center;
					letter-spacing: 0.02em;
					margin-bottom: 1.25rem;
					@media all and (max-width: 992px) {
						margin-bottom: 0.75rem;
						font-size: 1.125rem;
					}
					@media all and (max-width: 769px) {
						font-size: 0.875rem;
						line-height: 16px;
						margin-top: 0.375rem;
						margin-bottom: 0.75rem;
					}
					@media all and (max-width: 320px) {
						font-size: 22px;
						line-height: 26px;
					}
				}
				p {
					font-weight: normal;
					font-size: 1rem;
					line-height: 19px;
					align-items: center;
					letter-spacing: 0.02em;
					@media all and (max-width: 992px) {
						font-size: 0.75rem;
						line-height: 14px;
					}
					@media all and (max-width: 320px) {
						font-size: 1rem;
						line-height: 19px;
						display: none;
					}
				}
			}
		}
		.burul__block:hover .burul__text {
			transition: 1s;
			transform: translateY(-100%);

			@media all and (max-width: 1024px) {
				transform: translateY(-100%);
			}
			@media all and (max-width: 769px) {
				transform: translateY(-100%);
			}
			@media all and (max-width: 575px) {
				transform: translateY(-100%);
			}
			@media all and (max-width: 320px) {
				transform: translateY(-100%);
			}
		}

		.faruh__block {
			position: relative;
			box-sizing: border-box;
			margin-top: 2.5rem;
			overflow: hidden;
			height: 11.75rem;
			width: 25rem;
			cursor: pointer;
			@media all and (max-width: 1024px) {
				width: 19rem;
				height: 10rem;
				margin-top: 1.25rem;
			}
			@media all and (max-width: 992px) {
				width: 16rem;
				height: 9rem;
				margin-top: 1.25rem;
			}
			@media all and (max-width: 769px) {
				display: none;
			}
			.faruh__img {
				img {
					@media all and (max-width: 992px) {
						width: 16rem;
						height: 9rem;
					}
				}
			}
			.faruh__text {
				text-align: start;
				color: $color__text__white;
				backdrop-filter: blur(1.125rem);
				padding: 2.0625rem 1.625rem 2.0625rem 1.25rem;
				transition: 1s ease-in-out;
				width: 25rem;
				height: 11.75rem;
				@media all and (max-width: 1024px) {
					padding: 0.875rem 2.375rem 1.75rem 0.875rem;
					width: 19rem;
					height: 9.4rem;
				}
				@media all and (max-width: 992px) {
					padding: 0.875rem 2.375rem 1.75rem 0.875rem;
					width: 18rem;
					height: 9rem;
				}
				@media all and (max-width: 769px) {
					padding: 0.75rem 0.1875rem 0.75rem 0.75rem;
					width: 14rem;
					height: 6.8125rem;
				}

				h4 {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 19px;
					letter-spacing: 0.02em;
					margin-bottom: 0.25rem;
					@media all and (max-width: 992px) {
						font-size: 0.75rem;
						line-height: 14px;
					}
					@media all and (max-width: 769px) {
						font-size: 0.75rem;
						line-height: 14px;
						margin-bottom: 0;
					}
				}
				h3 {
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					display: flex;
					align-items: center;
					letter-spacing: 0.02em;
					margin-bottom: 1.25rem;
					@media all and (max-width: 1024px) {
						margin-bottom: 0.5rem;
					}
					@media all and (max-width: 992px) {
						font-weight: 600;
						font-size: 1.0771rem;
						line-height: 20px;
					}
					@media all and (max-width: 769px) {
						font-size: 0.9375rem;
						line-height: 18px;
						margin-bottom: 0;
					}
				}
				p {
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					letter-spacing: 0.02em;
					@media all and (max-width: 992px) {
						font-size: 0.75rem;
						line-height: 14px;
					}
				}
			}
		}

		.faruh__block:hover .faruh__text {
			transition: 1s;
			transform: translateY(-102%);
			background: rgba(255, 255, 255, 0.1);
			border-radius: 0.625rem;
		}
		.works__middle {
			margin-left: 2.5rem;
			@media all and (max-width: 1024px) {
				margin-left: 1.25rem;
			}
			@media all and (max-width: 992px) {
				margin-left: 0.5rem;
			}
			@media all and (max-width: 769px) {
				margin-left: 0.625rem;
				display: flex;
			}
			@media all and (max-width: 575px) {
				margin-left: 0;
				display: flex;
			}
			@media all and (max-width: 320px) {
				margin: 0;
				height: 25.75rem;
			}
			.works__middle__none {
				@media all and (max-width: 575px) {
					display: none;
				}
			}
			.ratmir__block {
				width: 27.25rem;
				height: 16.25rem;
				position: relative;
				overflow: hidden;
				border-radius: 10px;
				cursor: pointer;
				@media all and (max-width: 1024px) {
					width: 24rem;
					height: 13rem;
				}
				@media all and (max-width: 992px) {
					width: 18rem;
					height: 11.75rem;
				}
				@media all and (max-width: 769px) {
					width: 15rem;
					height: 8.75rem;
				}
				@media all and (max-width: 575px) {
					width: 14.5rem;
					height: 7.5rem;
					display: inline-block;
				}
				@media all and (max-width: 320px) {
					display: none;
				}
				.ratmir__img {
					img {
						@media all and (max-width: 992px) {
							width: 18rem;
						}
					}
				}
				.ratmir__text {
					text-align: start;
					.ratmir__text__none {
						display: none;
						@media all and (max-width: 769px) {
							display: block;
							cursor: pointer;
							font-size: 0.75rem;
							line-height: 14px;
						}
					}
					color: $color__text__black;
					padding: 1.375rem 2.5rem 1.375rem 1.25rem;
					background: rgba(255, 255, 255, 0.1);
					backdrop-filter: blur(3.125rem);
					border-radius: 0.625rem;
					transition: 1s;
					position: absolute;
					width: 100%;
					top: 0;
					left: 100%;
					@media all and (max-width: 1024px) {
						padding: 0.5rem;
					}
					@media all and (max-width: 992px) {
						padding: 0.875rem;
						width: 20.0625rem;
						height: 11.75rem;
					}
					@media all and (max-width: 769px) {
						padding: 0.75rem;
						width: 15rem;
						height: 8.75rem;
					}
					@media all and (max-width: 575px) {
						display: inline-block;
					}
					h4 {
						font-style: normal;
						font-weight: 600;
						font-size: 1rem;
						line-height: 19px;
						letter-spacing: 0.02em;
						margin-bottom: 0.25rem;
						@media all and (max-width: 992px) {
							font-size: 0.75rem;
							line-height: 14px;
						}
						@media all and (max-width: 769px) {
							font-size: 0.75rem;
							line-height: 14px;
							margin-bottom: 0.375rem;
						}
					}
					h3 {
						font-style: normal;
						font-weight: 600;
						font-size: 1.5rem;
						line-height: 28px;
						display: flex;
						align-items: center;
						letter-spacing: 0.02em;
						margin-bottom: 1.25rem;
						@media all and (max-width: 1024px) {
							margin-bottom: 0.5rem;
						}
						@media all and (max-width: 992px) {
							font-size: 1.125rem;
							line-height: 21px;
							margin-bottom: 0.875rem;
						}
						@media all and (max-width: 769px) {
							margin-bottom: 0.75rem;
							font-size: 0.875rem;
							line-height: 16px;
						}
					}

					p {
						font-style: normal;
						font-weight: normal;
						font-size: 1rem;
						line-height: 19px;
						letter-spacing: 0.02em;
						@media all and (max-width: 1024px) {
							font-weight: normal;
							font-size: 0.9rem;
							line-height: 17px;
						}
						@media all and (max-width: 992px) {
							font-weight: normal;
							font-size: 0.75rem;
							line-height: 14px;
						}
						@media all and (max-width: 769px) {
							display: none;
						}
					}
				}
			}

			.ratmir__block:hover .ratmir__text {
				transition: 1s;
				transform: translateX(-100%);
				background: rgba(255, 255, 255, 0.1);
				@media all and (max-width: 575px) {
					transform: translateX(-98%);
				}
			}

			.faruh__block__none {
				position: relative;
				box-sizing: border-box;
				margin-top: 2.5rem;
				overflow: hidden;
				height: 11.75rem;
				width: 25rem;
				display: none;
				cursor: pointer;
				@media all and (max-width: 992px) {
					width: 18rem;
					height: 8.5rem;
					margin-top: 1.25rem;
				}
				@media all and (max-width: 769px) {
					width: 16rem;
					margin-top: 0.625rem;
					display: block;
					margin-top: 1rem;
				}
				@media all and (max-width: 575px) {
					width: 14.5rem;
					height: 7.5rem;

					margin-top: 1.25rem;
				}
				@media all and (max-width: 320px) {
					display: none;
				}
				.faruh__img__none {
					img {
						@media all and (max-width: 769px) {
							width: 15rem;
							height: 7.5rem;
						}
					}
				}

				.faruh__text__none {
					text-align: start;
					color: $color__text__white;
					backdrop-filter: blur(1.125rem);
					padding: 2.0625rem 1.625rem 2.0625rem 1.25rem;
					transition: 1s ease-in-out;
					width: 25rem;
					height: 11.75rem;

					@media all and (max-width: 992px) {
						padding: 0.875rem 2.375rem 1.75rem 0.875rem;
						width: 18rem;
						height: 8.5rem;
					}
					@media all and (max-width: 769px) {
						padding: 0.75rem 0.1875rem 0.75rem 0.75rem;
						width: 15rem;
						height: 7rem;
					}
					@media all and (max-width: 575px) {
						display: block;
						width: 14.5rem;
					}
					h4 {
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 19px;
						letter-spacing: 0.02em;
						margin-bottom: 0.25rem;
						@media all and (max-width: 992px) {
							font-size: 0.75rem;
							line-height: 14px;
						}
						@media all and (max-width: 769px) {
							font-size: 0.75rem;
							line-height: 14px;
							margin-bottom: 0;
						}
					}
					h3 {
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 19px;
						display: flex;
						align-items: center;
						letter-spacing: 0.02em;
						margin-bottom: 1.25rem;
						@media all and (max-width: 992px) {
							font-weight: 600;
							font-size: 1.0771rem;
							line-height: 20px;
						}
						@media all and (max-width: 769px) {
							font-size: 0.9375rem;
							line-height: 18px;
							margin-bottom: 0;
						}
					}
					p {
						font-weight: normal;
						font-size: 16px;
						line-height: 19px;
						letter-spacing: 0.02em;
						@media all and (max-width: 992px) {
							font-size: 0.75rem;
							line-height: 14px;
						}
					}
				}
			}

			.faruh__block__none:hover .faruh__text__none {
				transition: 1s;
				transform: translateY(-103%);
				background: rgba(255, 255, 255, 0.1);
				border-radius: 0.625rem;
			}

			.firuza__block {
				margin-top: 2.5rem;
				position: relative;
				overflow: hidden;
				height: 26.75rem;
				cursor: pointer;
				@media all and (max-width: 1024px) {
					width: 24rem;
					height: 23rem;
				}
				@media all and (max-width: 992px) {
					width: 18rem;
					height: 19.25rem;
					margin-top: 1.25rem;
				}
				@media all and (max-width: 769px) {
					width: 16rem;
					height: 17.3125rem;
					margin-top: 0;
				}
				@media all and (max-width: 575px) {
					margin-left: 0;
					width: 16rem;
					margin-top: 0;
				}
				@media all and (max-width: 320px) {
					margin: 0 0.625rem;
					width: 17rem;
					height: 20rem;
					border-radius: 10px;
				}

				.firuza__img {
					img {
						@media all and (max-width: 992px) {
							width: 18rem;
						}
						@media all and (max-width: 769px) {
							width: 16rem;
							height: 17.3125rem;
						}
						@media all and (max-width: 320px) {
							width: 17rem;
							height: 20rem;
						}
					}
					@media all and (max-width: 992px) {
						border-radius: 0.625rem;
					}
					@media all and (max-width: 320px) {
						border-radius: 10px;
						width: 17rem;
						height: 20rem;
						overflow: hidden;
					}
				}
				.firuza__text {
					text-align: start;
					color: $color__text__white;
					padding: 1.25rem;
					width: 27.25rem;
					height: 14.0625rem;
					background: rgba(255, 255, 255, 0.1);
					backdrop-filter: blur(3.125rem);
					border-radius: 0.625rem;
					transition: 1s;
					@media all and (max-width: 1024px) {
						width: 24rem;
						height: 15rem;
					}
					@media all and (max-width: 992px) {
						padding: 0.875rem;
						width: 18rem;
						height: 12rem;
					}
					@media all and (max-width: 769px) {
						width: 16rem;
						height: 14rem;
						padding: 1rem 0.75rem 0.75rem 0.75rem;
					}
					@media all and (max-width: 575px) {
						width: 16rem;
						height: 13rem;
					}
					@media all and (max-width: 320px) {
						width: 17.5rem;
						height: 20rem;
						padding: 0.75rem;
					}
					h4 {
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 19px;
						letter-spacing: 0.02em;
						@media all and (max-width: 992px) {
							font-size: 0.75rem;
							line-height: 14px;
						}
						@media all and (max-width: 320px) {
							font-weight: 600;
							font-size: 1rem;
							line-height: 19px;
						}
					}
					h3 {
						font-style: normal;
						font-weight: 600;
						font-size: 24px;
						line-height: 28px;
						letter-spacing: 0.02em;
						margin-bottom: 0.25rem;
						@media all and (max-width: 992px) {
							font-size: 1.125rem;
							line-height: 21px;
						}
						@media all and (max-width: 769px) {
							font-size: 0.875rem;
							line-height: 16px;
							margin-top: 0.375rem;
						}
						@media all and (max-width: 320px) {
							font-size: 1.375rem;
							line-height: 26px;
						}
					}
					p {
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 19px;
						letter-spacing: 0.02em;
						margin-top: 1.25rem;
						@media all and (max-width: 992px) {
							margin-top: 1.1875rem;
							font-weight: normal;
							font-size: 0.75rem;
							line-height: 14px;
						}

						@media all and (max-width: 320px) {
							margin-top: 0.875rem;
							font-weight: normal;
							font-size: 16px;
							line-height: 19px;
						}
					}
				}
			}
			.firuza__block:hover .firuza__text {
				transition: 1s;
				transform: translateY(-192%);
				@media all and (max-width: 1024px) {
					transform: translateY(-158%);
				}
				@media all and (max-width: 992px) {
					transform: translateY(-150%);
				}
				@media all and (max-width: 769px) {
					transform: translateY(-100%);
				}
				@media all and (max-width: 320px) {
					transform: translateY(-100%);
				}
			}
		}
		.as {
			@media all and (max-width: 320px) {
				width: 17.5rem;
				height: 25.75rem;
				border-radius: 10px;
			}
			.alex__block {
				width: 16.25rem;
				height: 45.5rem;
				position: relative;
				margin-left: 2.5rem;
				overflow: hidden;
				cursor: pointer;
				@media all and (max-width: 1024px) {
					margin-left: 1.5rem;
					width: 16rem;
					height: 34.2rem;
				}
				@media all and (max-width: 992px) {
					margin-left: 0.5rem;
					width: 20rem;
					height: 32.3125rem;
				}
				@media all and (max-width: 769px) {
					width: 15.4375rem;
					height: 17.2rem;
					margin-left: 0.625rem;
					border-radius: 10px;
				}
				@media all and (max-width: 575px) {
					width: 16rem;
					height: 17.3125rem;
				}
				@media all and (max-width: 320px) {
					width: 15rem;
					height: 20rem;
					border-radius: 10px;
					overflow: hidden;
				}
				.alex__img {
					@media all and (max-width: 769px) {
						width: 11.4375rem;
						height: 24.6rem;
						border-radius: 10px;
					}
					img {
						@media all and (max-width: 320px) {
							width: 15.5rem;
							height: 40rem;
						}
					}
				}

				.alex__text {
					text-align: start;
					padding: 1.25rem 1.25rem 1.25rem 1.4375rem;
					background: rgba(255, 255, 255, 0.1);
					backdrop-filter: blur(1.725rem);
					border-radius: 0.625rem;
					transition: 1s;
					position: absolute;
					color: $color__text__white;
					z-index: 5;
					top: -50%;
					height: 21rem;
					@media all and (max-width: 1024px) {
						top: -55%;
					}
					@media all and (max-width: 992px) {
						padding: 0.75rem;
						width: 18rem;
					}
					@media all and (max-width: 769px) {
						width: 15.4375rem;
						top: -70%;
						height: 12rem;
					}
					@media all and (max-width: 575px) {
						top: 114px;
						left: 269px;
					}
					@media all and (max-width: 320px) {
						height: 20rem;
						top: 0rem;
						left: 18.75rem;
						border-radius: 10px;
					}
					h4 {
						font-style: normal;
						font-weight: 600;
						font-size: 1rem;
						line-height: 19px;
						letter-spacing: 0.02em;
						@media all and (max-width: 992px) {
							font-size: 1rem;
							line-height: 19px;
						}
						@media all and (max-width: 769px) {
							font-size: 0.875rem;
							line-height: 16px;
							margin-bottom: 0.75rem;
						}
						@media all and (max-width: 320px) {
							font-size: 1rem;
							line-height: 19px;
						}
					}
					h3 {
						margin-top: 0.25;
						font-style: normal;
						font-weight: 600;
						font-size: 1.5rem;
						line-height: 28px;
						letter-spacing: 0.02em;
						@media all and (max-width: 992px) {
							font-size: 0.75rem;
							line-height: 14px;
						}
						@media all and (max-width: 769px) {
							font-size: 0.75rem;
							line-height: 14px;
							margin-bottom: 0.375rem;
						}
						@media all and (max-width: 320px) {
							font-size: 1.375rem;
							line-height: 26px;
						}
					}
					p {
						margin-top: 1.25rem;
						font-style: normal;
						font-weight: normal;
						font-size: 1rem;
						line-height: 19px;
						letter-spacing: 0.02em;
						@media all and (max-width: 992px) {
							margin-top: 0.875rem;
							font-size: 0.75rem;
							line-height: 14px;
						}
						@media all and (max-width: 769px) {
							font-size: 0.75rem;
							line-height: 14px;
						}
						@media all and (max-width: 575px) {
						}
						@media all and (max-width: 320px) {
							font-size: 1rem;
							line-height: 23px;
						}
					}
				}
			}
			.alex__block:hover .alex__text {
				transition: 1s;
				transform: translateY(108%);
				@media all and (max-width: 992px) {
					transform: translateY(200%);
				}
				@media all and (max-width: 769px) {
					transform: translateY(100%);
				}
				@media all and (max-width: 575px) {
					width: 16rem;
					transform: translateX(-16.9rem);
					top: 0;
				}
				@media all and (max-width: 320px) {
					width: 15rem;
					transform: translateX(-18.75rem);
				}
			}
		}
	}
}
