.faq__block {
	$faq--border--slider: #313131;
	$faq--borderCard--slider: #ff7a00;
	$faq--text--slider: #151515;
	$faq--itemBackground--slider: #707070;

	max-width: 1440px;
	width: calc(100vw - 60px);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	@media all and (max-width: 1024px) {
		width: calc(100% - 60px);
	}
	@media all and (max-width: 998px) {
		width: calc(100% - 60px);
	}
	@media all and (max-width: 770px) {
		height: 12.25rem;
		width: calc(100% - 100px);
	}
	@media all and (max-width: 575px) {
		width: calc(100% - 60px);
		max-height: 13.75rem;
	}
	@media all and (max-width: 430px) {
		flex-direction: column;
		max-height: 95rem;
		height: auto;
		width: 100%;
	}
	@media all and (max-width: 375px) {
		width: 100%;
	}
	@media all and (max-width: 320px) {
		height: 95rem;
	}

	.faq__left {
		position: relative;
		display: flex;
		align-items: center;
		text-align: start;
		font-weight: 600;
		font-size: 2.25rem;
		line-height: 42px;
		padding: 0.875rem;
		width: 35.3125rem;
		@media all and (max-width: 1024px) {
			width: 22.6875rem;
			height: 15.625rem;
			padding: 0;
		}
		@media all and (max-width: 998px) {
			width: 22.6875rem;
			height: 15.625rem;
			padding: 0;
		}
		@media all and (max-width: 770px) {
			width: 15rem;
			height: 14.25rem;
		}
		@media all and (max-width: 575px) {
			align-items: flex-start;
			max-height: 13.75rem;
			width: 9rem;
		}
		@media all and (max-width: 430px) {
			height: 8.75rem;
			margin: 0 auto;
			margin-bottom: 2rem;
			width: 100%;
		}
		@media all and (max-width: 375px) {
			width: 16.375rem;
		}
		span {
			font-style: normal;
			font-weight: 600;
			font-size: 2.25rem;
			line-height: 42px;
			letter-spacing: 0.02em;
			width: 22.5625rem;
			margin: 0 auto;
			@media all and (max-width: 1024px) {
				font-size: 1.75rem;
				line-height: 33px;
			}
			@media all and (max-width: 998px) {
				font-size: 1.75rem;
				line-height: 33px;
			}
			@media all and (max-width: 770px) {
				font-size: 1.75rem;
				line-height: 33px;
			}
			@media all and (max-width: 575px) {
				width: 10.625rem;
				font-size: 1.125rem;
				line-height: 21px;
				margin: 0 auto;
			}
			@media all and (max-width: 430px) {
				width: 16.375rem;
				height: 8.75rem;
				font-size: 1.375rem;
				line-height: 26px;
			}
			@media all and (max-width: 325px) {
				font-size: 22px;
				margin-top: 2.5rem;
			}
		}
		.faq__left__imgOne {
			position: absolute;
			width: 3.625rem;
			height: 6.0313rem;
			top: 1.1875rem;
			left: 1.9125rem;
			opacity: 0.6;
			@media all and (max-width: 1024px) {
				width: 2.2687rem;
				height: 3.6456rem;
				left: 87%;
				left: none;
				-webkit-transform: rotate(-40deg);
				-moz-transform: rotate(-40deg);
				-o-transform: rotate(-40deg);
				-ms-transform: rotate(-40deg);
				transform: rotate(-40deg);
			}
			@media all and (max-width: 998px) {
				width: 2.2687rem;
				height: 3.6456rem;
				left: 87%;
				left: none;
				-webkit-transform: rotate(-40deg);
				-moz-transform: rotate(-40deg);
				-o-transform: rotate(-40deg);
				-ms-transform: rotate(-40deg);
				transform: rotate(-40deg);
			}
			@media all and (max-width: 770px) {
				top: 12%;
				left: 70%;
			}
			@media all and (max-width: 575px) {
				width: 1.5625rem;
				height: 2.5rem;
				left: 0%;
				top: 45%;
			}
			@media all and (max-width: 430px) {
				left: 15%;
				top: 60%;
			}
			@media all and (max-width: 320px) {
				width: 1.5625rem;
				height: 2.5rem;
				top: 80%;
				left: 0%;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}
		.faq__left__imgTwo {
			position: absolute;
			width: 3.625rem;
			height: 6.0313rem;
			opacity: 0.6;
			display: none;
			@media all and (max-width: 1024px) {
				display: block;
				width: 1.4375rem;
				height: 2.3125rem;
				right: 0;
			}
			@media all and (max-width: 998px) {
				display: block;
				width: 1.4375rem;
				height: 2.3125rem;
				right: 0;
			}
			@media all and (max-width: 770px) {
				display: none;
			}
			@media all and (max-width: 575px) {
				display: block;
				left: 60%;
				top: 35%;
				-webkit-transform: rotate(-10deg);
				-moz-transform: rotate(-10deg);
				-o-transform: rotate(-10deg);
				-ms-transform: rotate(-10deg);
				transform: rotate(-10deg);
			}
			@media all and (max-width: 320px) {
				width: 1.5625rem;
				height: 2.5rem;
				top: 70%;
				left: 31%;
				-webkit-transform: rotate(-20deg);
				-moz-transform: rotate(-20deg);
				-o-transform: rotate(-20deg);
				-ms-transform: rotate(-20deg);
				transform: rotate(-20deg);
			}
		}
		.faq__left__imgThree {
			position: absolute;
			width: 3.625rem;
			height: 6.0313rem;
			left: 7.125rem;
			bottom: 1.1875rem;
			opacity: 0.6;
			-webkit-transform: rotate(-40deg);
			-moz-transform: rotate(-40deg);
			-o-transform: rotate(-40deg);
			-ms-transform: rotate(-40deg);
			transform: rotate(-40deg);
			@media all and (max-width: 1024px) {
				width: 2.2687rem;
				height: 3.6456rem;
				left: 87%;
				-webkit-transform: rotate(5deg);
				-moz-transform: rotate(5deg);
				-o-transform: rotate(5deg);
				-ms-transform: rotate(5deg);
				transform: rotate(5deg);
			}
			@media all and (max-width: 998px) {
				width: 2.2687rem;
				height: 3.6456rem;
				left: 87%;
				-webkit-transform: rotate(5deg);
				-moz-transform: rotate(5deg);
				-o-transform: rotate(5deg);
				-ms-transform: rotate(5deg);
				transform: rotate(5deg);
			}
			@media all and (max-width: 770px) {
				width: 1.75rem;
				height: 2.8331rem;
				top: 56%;
				left: 60%;
			}
			@media all and (max-width: 575px) {
				-webkit-transform: rotate(-30deg);
				-moz-transform: rotate(-30deg);
				-o-transform: rotate(-30deg);
				-ms-transform: rotate(-30deg);
				transform: rotate(-30deg);
				left: 40%;
			}
			@media all and (max-width: 320px) {
				top: 80%;
				left: 60%;
				-webkit-transform: rotate(-50deg);
				-moz-transform: rotate(-50deg);
				-o-transform: rotate(-50deg);
				-ms-transform: rotate(-50deg);
				transform: rotate(-50deg);
			}
		}
	}
	.faq__block__two {
		display: flex;
		@media all and (max-width: 575px) {
			height: 14rem;
			flex-direction: column-reverse;
		}
		@media all and (max-width: 430px) {
			width: 100%;
			height: auto;
			margin: 0 auto;
		}
		.faq__middle {
			margin: 25% 0 0.625rem 0;
			align-items: center;
			@media all and (max-width: 575px) {
				display: flex;
				margin: 0 auto;
			}
			@media all and (max-width: 430px) {
				display: none;
			}
			.faq__middle__item {
				width: 1.25rem;
				height: 1.25rem;
				border: 1px solid $faq--itemBackground--slider;
				border-radius: 50%;
				margin: 0.625rem 0.625rem 0.625rem 0;
				transition: 1s;
				@media all and (max-width: 1024px) {
					width: 0.75rem;
					height: 0.75rem;
					margin: 0.625rem 0.625rem 0.625rem 0;
				}
				@media all and (max-width: 998px) {
					width: 0.75rem;
					height: 0.75rem;
					margin: 0.625rem 0.625rem 0.625rem 0;
				}
				@media all and (max-width: 770px) {
					width: 0.625rem;
					height: 0.625rem;
					margin: 0.625rem 0.625rem 0.625rem 0;
				}
			}
			.faq__middle__none {
				width: 1.25rem;
				height: 1.25rem;
				border: 1px solid $faq--itemBackground--slider;
				border-radius: 50%;
				margin: 0.625rem 0.625rem 0.625rem 0;
				transition: 1s;
				background: $faq--itemBackground--slider;
				@media all and (max-width: 1024px) {
					width: 0.75rem;
					height: 0.75rem;
					margin: 0.625rem 0.625rem 0.625rem 0;
				}
				@media all and (max-width: 998px) {
					width: 0.75rem;
					height: 0.75rem;
					margin: 0.625rem 0.625rem 0.625rem 0;
				}
				@media all and (max-width: 770px) {
					width: 0.625rem;
					height: 0.625rem;
					margin: 0.625rem 0.625rem 0.625rem 0;
				}
			}
		}
		.faq__right {
			border: 1px solid $faq--border--slider;
			border-radius: 0.625rem;
			overflow: hidden;
			@media all and (max-width: 1024px) {
				width: 24.375rem;
				height: 15.625rem;
			}
			@media all and (max-width: 998px) {
				width: 24.375rem;
				height: 15.625rem;
			}
			@media all and (max-width: 770px) {
				width: 18.125rem;
				height: 15.5rem;
				text-align: center;
			}
			@media all and (max-width: 575px) {
				height: 18rem;
				margin-bottom: 20px;
				width: 16rem;
			}
			@media all and (max-width: 430px) {
				width: 100%;
				overflow: visible;
				height: 1237px;
				border: none;
				margin-top: 2rem;
				display: none;
			}
			.faq__right__item {
				transition: 1s ease-in-out;
				width: 38.75rem;
				height: 26.25rem;
				padding: 2.5rem 0 0 0;
				opacity: 1;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				align-items: center;
				@media all and (max-width: 1024px) {
					width: 24.875rem;
					height: 15.625rem;
					padding: 1.25rem 0 0 1.25rem;
				}
				@media all and (max-width: 998px) {
					width: 24.875rem;
					height: 15.625rem;
					padding: 1.25rem 0 0 0;
				}
				@media all and (max-width: 770px) {
					width: 16rem;
					height: 18rem;
					padding: 1.25rem 0 0 0;
				}
				@media all and (max-width: 575px) {
					width: 16rem;
					height: 10.875rem;
					padding: 0;
				}
				@media all and (max-width: 430px) {
					width: 100%;
					height: 12rem;
					padding: 0;
					text-align: center;
					border-bottom: 1px solid $faq--borderCard--slider;
					margin: 0 auto;
				}
				@media all and (max-width: 320px) {
					margin-top: 1.875rem;
					width: 100%;
					height: 13rem;
				}

				img {
					width: 9.375rem;
					height: 9.375rem;

					@media all and (max-width: 1024px) {
						width: 5.625rem;
						height: 5.625rem;
					}
					@media all and (max-width: 998px) {
						width: 5.625rem;
						height: 5.625rem;
					}
					@media all and (max-width: 770px) {
						width: 4.375rem;
						height: 4.375rem;
					}
					@media all and (max-width: 430px) {
						margin: 0.5rem auto 0 auto;
					}
					@media all and (max-width: 320px) {
						margin: 0.5rem 0 0 1.25rem;
						display: flex;
					}
				}
				h2 {
					margin-top: 5.125rem;
					margin-bottom: 0.3125rem;
					color: $faq--text--slider;
					font-family: Raleway;
					font-style: normal;
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 142.5%;
					letter-spacing: -0.05em;
					@media all and (max-width: 1024px) {
						font-size: 1.125rem;
						margin-top: 1.875rem;
						margin-bottom: 0.625rem;
					}
					@media all and (max-width: 998px) {
						font-size: 1.125rem;
						margin-top: 1.875rem;
						margin-bottom: 0.625rem;
					}
					@media all and (max-width: 770px) {
						margin-top: 0.8125rem;
						margin-bottom: 1rem;
						font-size: 0.875rem;
					}
					@media all and (max-width: 575px) {
						font-size: 14px;
						margin-bottom: 0.5rem;
						margin-top: 0.5rem;
					}
					@media all and (max-width: 430px) {
						text-align: center;
						margin-bottom: 0.75rem;
					}
					@media all and (max-width: 320px) {
						text-align: start;
						margin: 1rem 0 0 1.25rem;
						font-size: 0.9rem;
					}
				}
				p {
					font-style: normal;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 125%;
					letter-spacing: -0.06em;
					width: 30rem;
					margin: 0 auto;
					text-align: center;
					@media all and (max-width: 1024px) {
						font-size: 0.875rem;
					}
					@media all and (max-width: 998px) {
						width: 20rem;
						font-size: 0.875rem;
					}
					@media all and (max-width: 770px) {
						font-size: 0.75rem;
						width: 13rem;
					}
					@media all and (max-width: 430px) {
						margin: 5px auto;
						width: 19.625rem;
					}
					@media all and (max-width: 375px) {
						margin: 5px auto;
						width: 15rem;
						font-size: 0.9rem;
					}

					@media all and (max-width: 320px) {
						margin: 5px 0 0 1.25rem;
						height: 300px;
						width: 17.5rem;
						text-align: start;
						font-size: 0.9rem;
					}
				}
			}
		}
		.faq__right_none {
			border: 1px solid $faq--border--slider;
			border-radius: 0.625rem;
			overflow: hidden;
			display: none;
			@media all and (max-width: 1024px) {
				width: 24.375rem;
				height: 15.625rem;
			}
			@media all and (max-width: 998px) {
				width: 24.375rem;
				height: 15.625rem;
			}
			@media all and (max-width: 770px) {
				width: 18.125rem;
				height: 15.5rem;
			}
			@media all and (max-width: 575px) {
				height: 18rem;
				margin-bottom: 20px;
			}
			@media all and (max-width: 430px) {
				width: 100%;
				overflow: visible;
				height: 1180px;
				border: none;
				margin-top: 2rem;
				display: block;
			}
			@media all and (max-width: 320px) {
				height: 1300px;
			}
			.faq__right__item {
				transition: 1s ease-in-out;
				width: 38.75rem;
				height: 26.25rem;
				padding: 0;
				opacity: 1;
				@media all and (max-width: 1024px) {
					width: 24.875rem;
					height: 15.625rem;
					padding: 1.25rem 0 0 1.25rem;
				}
				@media all and (max-width: 998px) {
					width: 24.875rem;
					height: 15.625rem;
					padding: 1.25rem 0 0 0;
				}
				@media all and (max-width: 770px) {
					width: 18rem;
					height: 18rem;
					padding: 1.25rem 0 0 0;
				}
				@media all and (max-width: 575px) {
					width: 18.125rem;
					height: 10.875rem;
					padding: 0;
				}
				@media all and (max-width: 430px) {
					width: 100%;
					height: 14rem;
					padding: 0;
					text-align: center;
					border-bottom: 1px solid $faq--borderCard--slider;
					margin: 0 auto;
				}
				@media all and (max-width: 320px) {
					margin-top: 1.875rem;
					width: 100%;
					height: 14rem;
				}

				img {
					width: 9.375rem;
					height: 9.375rem;

					@media all and (max-width: 1024px) {
						width: 5.625rem;
						height: 5.625rem;
					}
					@media all and (max-width: 998px) {
						width: 5.625rem;
						height: 5.625rem;
					}
					@media all and (max-width: 770px) {
						width: 4.375rem;
						height: 4.375rem;
					}
					@media all and (max-width: 430px) {
						margin: 1rem auto 0 auto;
					}
					@media all and (max-width: 320px) {
						margin: 0.5rem 0 0 1.25rem;
						display: flex;
					}
				}
				h2 {
					margin-top: 5.125rem;
					margin-bottom: 0.3125rem;
					color: $faq--text--slider;
					font-family: Raleway;
					font-style: normal;
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 142.5%;
					letter-spacing: -0.05em;
					@media all and (max-width: 1024px) {
						font-size: 1.125rem;
						margin-top: 1.875rem;
						margin-bottom: 0.625rem;
					}
					@media all and (max-width: 998px) {
						font-size: 1.125rem;
						margin-top: 1.875rem;
						margin-bottom: 0.625rem;
					}
					@media all and (max-width: 770px) {
						margin-top: 0.8125rem;
						margin-bottom: 1rem;
						font-size: 0.875rem;
					}
					@media all and (max-width: 575px) {
						font-size: 14px;
						margin-bottom: 0.5rem;
						margin-top: 0.5rem;
					}
					@media all and (max-width: 430px) {
						text-align: center;
						margin-bottom: 0.75rem;
					}
					@media all and (max-width: 320px) {
						text-align: start;
						margin: 1rem 0 0 1.25rem;
						font-size: 0.9rem;
					}
				}
				p {
					font-style: normal;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 125%;
					letter-spacing: -0.06em;
					width: 30rem;
					margin: 0 auto;
					@media all and (max-width: 1024px) {
						font-size: 0.875rem;
					}
					@media all and (max-width: 998px) {
						width: 20rem;
						font-size: 0.875rem;
					}
					@media all and (max-width: 770px) {
						font-size: 0.75rem;
						width: 16rem;
					}
					@media all and (max-width: 430px) {
						margin: 5px auto;
						width: 19.625rem;
					}
					@media all and (max-width: 375px) {
						margin: 5px auto 1rem;
						width: 15rem;
						font-size: 0.9rem;
					}

					@media all and (max-width: 320px) {
						margin: 5px 0 0 1.25rem;

						width: 17.5rem;
						text-align: start;
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}
