.contact__wrapper {
	max-width: 1440px;
	width: calc(100vw - 60px);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8.4375rem;
	.contact__left {
		text-align: start;
		max-width: 550px;
		width: 100%;
		h3 {
			letter-spacing: 0.1rem;
			font-size: 2.25rem;
			font-weight: 600;
			margin-bottom: 7px;
		}
		p {
			font-size: 1rem;
			line-height: 19px;
			font-weight: 500;
		}

		@media all and (max-width: 992px) {
			display: none;
		}
	}

	.contact__right {
		display: flex;
		align-items: center;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-box-shadow: -1px 8px 16px -1px rgba(0, 0, 0, 0.23);
		box-shadow: -1px 8px 16px -1px rgba(0, 0, 0, 0.23);
		input {
			outline: none;
			border: none;
			background: none;

			@media all and (max-width: 992px) {
				width: 354px !important;
			}

			@media all and (max-width: 767px) {
				width: 318px !important;
				height: 45px;
			}

			@media all and (max-width: 575px) {
				width: 185px !important;
			}

			&::placeholder {
				color: var(--input-text);
				font-weight: 400;
			}
		}
		.bb {
			border: 1px solid var(--nav-text);
			background: var(--white-text);
			color: var(--nav-text);
		}
		.send {
			border-radius: 0px 10px 10px 0px;
			border: 1px solid var(--nav-text);
			padding: 17px 23.5px 20.5px 20px;
			color: var(--course-text);
			letter-spacing: 0.02em;
			font-weight: 500;
			font-size: 1.25rem;

			&:hover {
				-webkit-box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.84);
				box-shadow: 5px 3px 10px -5px rgba(0, 0, 0, 0.84);
			}

			@media all and (max-width: 767px) {
				font-size: 0.875rem;
				padding: 14px 13.5px 14px 10px;
				letter-spacing: 0.02em;
			}
		}
		&:hover {
			-webkit-box-shadow: -1px 4px 16px -1px rgba(0, 0, 0, 0.65);
			box-shadow: -1px 4px 7px -1px rgba(0, 0, 0, 0.65);
		}
		input {
			font-size: 1.25rem;
			padding: 10px 10px 10px 10px;
			color: var(--course-text);
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			background: none;
			cursor: pointer;
			&::placeholder {
				font-size: 1.25rem;
				opacity: 0.6;
			}
			.placeholder {
				font-size: 1.25rem;
				color: rgba(0, 0, 0, 0.23);
			}
			&:hover {
				&::placeholder {
					color: var(--course-text);
					opacity: 0.7;
				}
			}
			@media all and (max-width: 320px) {
				max-width: 446px;
				font-size: 1.1rem;
			}
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		button {
			&:hover {
				color: var(--white-text);
				background: var(--orange-bg);
				border: 1px solid var(--orange-bg);
				transition: 0.3s ease;
			}
			cursor: pointer;
			background: none;
			border: 1px solid var(--course-text);
		}

		@media all and (max-width: 992px) {
			margin: 0 auto;
		}
		@media all and (max-width: 767px) {
			max-width: 446px;
		}
	}
	@media all and (max-width: 992px) {
		margin: 4rem auto 0 auto;
	}
	@media all and (max-width: 450px) {
		margin: 2rem auto 0 auto;
	}
	@media all and (max-width: 450px) {
		width: 18rem;
	}
	@media all and (max-width: 320px) {
		width: calc(100vw - 40px) !important;
		margin: 20px auto 0 auto !important;
	}
}
