.slider {
	$slideBar--text--black: #1f1f1f;
	display: flex;
	max-width: 1440px;
	width: calc(100vw - 60px);
	margin: 12.5rem auto;
	align-items: center;
	justify-content: space-between;
	@media all and (max-width: 1050px) {
		margin: 8.75rem auto;
		width: calc(100% - 60px);
	}
	@media all and (max-width: 992px) {
		margin: 8.75rem auto;
		width: calc(100% - 60px);
	}
	@media all and (max-width: 769px) {
		margin: 6.25rem auto;
		width: 41.6875rem;
	}
	@media all and (max-width: 575px) {
		width: calc(100% - 60px);
	}
	@media all and (max-width: 500px) {
		justify-content: center;
	}
	@media all and (max-width: 375px) {
		margin: 5.3125rem 2rem;
		width: calc(100% - 60px);
	}
	@media all and (max-width: 320px) {
		margin: 5.3125rem auto;
		flex-direction: column;
	}
	a {
		cursor: default;
	}
	.slide__none {
		display: none;
		@media all and (max-width: 500px) {
			display: flex;
			flex-direction: column-reverse;
		}
		.slide__bar__none {
			display: block;
			margin-bottom: 1.875rem;
			.slide__bar__img__none {
				background-size: cover;
				width: 16.875rem;
				height: 21.25rem;
				border: 1px solid $slideBar--text--black;
				border-radius: 0.625rem;
			}
		}
	}
	.slide__block {
		display: flex;
		@media all and (max-width: 500px) {
			display: none;
		}
		.slide__bar {
			.slide__bar__img {
				cursor: pointer;
				width: 14rem;
				height: 31rem;
				border-radius: 0.625rem;
				transition: 1s ease-in-out;
				background-size: cover;
				margin-right: 2rem;
				border: 1px solid $slideBar--text--black;
				@media all and (max-width: 1440px) {
					width: 8rem;
					height: 31rem;
					margin-right: 1.125rem;
				}
				@media all and (max-width: 1050px) {
					width: 5.5rem;
					height: 28rem;
					margin-right: 1.125rem;
				}
				@media all and (max-width: 770px) {
					width: 3.75rem;
					height: 21.25rem;
					margin-right: 0.5rem;
				}
				@media all and (max-width: 575px) {
					width: 3.125rem;
					height: 15rem;
				}
				@media all and (max-width: 436px) {
					width: 2.5rem;
					height: 13rem;
				}
				@media all and (max-width: 376px) {
					width: 2.5rem;
					height: 13rem;
				}
			}
			.slide__bar__img__active {
				cursor: pointer;
				width: 25rem;
				height: 31rem;
				border-radius: 0.625rem;
				transition: 1s ease-in-out;
				background-size: cover;
				margin-right: 3rem;
				border: 1px solid;
				@media all and (max-width: 1440px) {
					width: 25rem;
					height: 31rem;
					margin-right: 1.125rem;
				}
				@media all and (max-width: 1050px) {
					width: 23rem;
					height: 28rem;
					margin-right: 1.125rem;
				}
				// @media all and (max-width: 992px) {
				// 	width: 20rem;
				// 	height: 25rem;
				// 	margin-right: 1.125rem;
				// }
				@media all and (max-width: 770px) {
					width: 16.875rem;
					height: 21.25rem;
					margin-right: 0.5rem;
				}
				@media all and (max-width: 575px) {
					width: 12.5rem;
					height: 15rem;
				}
				@media all and (max-width: 436px) {
					width: 10rem;
					height: 13rem;
				}
				@media all and (max-width: 376px) {
					width: 10rem;
					height: 13rem;
				}
			}
			.slide__bar__img__active {
				-webkit-box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.2);
				box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.2);
			}
		}
	}
	.slide__info {
		color: $slideBar--text--black;
		text-align: right;
		font-style: normal;
		font-weight: 600;
		font-size: 2.25rem;
		line-height: 50px;
		@media all and (max-width: 992px) {
			font-size: 28px;
			line-height: 50px;
		}
		@media all and (max-width: 575px) {
			font-size: 22px;
			line-height: 22px;
		}
		@media all and (max-width: 500px) {
			display: none;
		}
		@media all and (max-width: 435px) {
			font-size: 1.1rem;
		}
		@media all and (max-width: 376px) {
			font-size: 0.8rem;
			display: none;
		}
	}
	.slide__info__none {
		display: none;
		@media all and (max-width: 320px) {
			display: flex;
			align-items: center;
			margin: 3.125rem auto 5.5625rem auto;
		}
		span {
			@media all and (max-width: 320px) {
				font-style: normal;
				font-weight: 500;
				font-size: 1.125rem;
				line-height: 115.5%;
				color: $slideBar--text--black;
				margin-right: 1.125rem;
			}
		}
	}
}
