.footer {
	$footer--text--color: #fff;
	$footerBackground: #1c1c1c;
	margin-top: 8rem;
	width: 100%;
	background: $footerBackground;
	padding-bottom: 0.625rem;
	.footer__logo__none {
		display: none;
		cursor: pointer;
		@media all and (max-width: 320px) {
			width: 98%;
			margin: 0 auto;
			display: block;
			margin-bottom: 2.5rem;
			display: flex;
			justify-content: center;
		}
	}
	@media all and (max-width: 320px) {
		padding-top: 3.125rem;
	}

	.footer__top {
		text-align: start;
		display: flex;
		justify-content: space-between;
		color: $footer--text--color;
		max-width: 1440px;
		width: calc(100vw - 172px);
		margin: 0 auto 2.5rem auto;
		@media all and (max-width: 992px) {
			width: calc(100vw - 60px);
		}
		@media all and (max-width: 767px) {
			flex-wrap: wrap;
			margin: 0 0 0 0;
		}
		@media all and (max-width: 575px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		@media all and (max-width: 320px) {
			max-width: 20rem;
		}

		.footer__top__one {
			line-height: 132%;
			width: 19.125rem;
			margin: 4.625rem 0 0 0;

			@media all and (max-width: 992px) {
				margin: 1.875rem 0 0 0;
				font-weight: normal;
				font-size: 14px;
				line-height: 132%;
			}
			@media all and (max-width: 767px) {
				width: 16.25rem;
				height: 3.625rem;
				margin: 1.875rem 0 0 1.875rem;
				order: -1;
			}
			@media all and (max-width: 575px) {
				order: 1;
				margin: 0 auto;
				margin-top: 1.25rem;
				width: 16.25rem;
				text-align: center;
			}
			@media all and (max-width: 320px) {
				order: 1;
				width: 15rem;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 132%;
				text-align: center;
				margin-top: 1.875rem;
			}
			p {
				font-weight: normal;
				font-size: 12px;
				line-height: 132%;
				width: 19.125rem;
				@media all and (max-width: 992px) {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 132%;
					width: 17rem;
				}
				@media all and (max-width: 767px) {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 132%;
				}
				@media all and (max-width: 575px) {
					display: inline;
					font-style: normal;
					display: block;
					width: 16.25rem;
				}
				@media all and (max-width: 320px) {
					width: 15rem;
				}
				*:first-child {
					br {
						display: none;
						@media all and (max-width: 320px) {
							display: block;
						}
					}
					@media all and (max-width: 575px) {
						width: 100%;
						display: inline;
					}
					@media all and (max-width: 320px) {
						width: 15rem;
						display: block;
					}
				}
				span {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 132%;
					display: block;

					&:first-child {
						display: inline;
					}
					&:last-child {
						font-weight: normal;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 132%;
						margin-top: 0.75rem;
						@media all and (max-width: 575px) {
							width: auto;
							display: inline;
							font-style: normal;
							font-weight: normal;
							font-size: 12px;
							line-height: 132%;
						}
						@media all and (max-width: 320px) {
							display: block;
							margin-top: 1.875rem;
						}
					}

					@media all and (max-width: 992px) {
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 132%;
					}
					@media all and (max-width: 767px) {
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 132%;
					}
					@media all and (max-width: 575px) {
						width: auto;
						display: inline;
					}
				}
				span::before {
					content: ' ';
				}
			}
		}
		.footer__top__two {
			line-height: 132%;
			margin: 4.5rem 0 0 0;
			width: 12.875rem;
			@media all and (max-width: 992px) {
				margin: 1.875rem 0 0 0;
				width: 12.9375rem;
			}
			@media all and (max-width: 767px) {
				margin: 1.25rem 0 1.25rem 1.875rem;
				order: 1;
			}
			@media all and (max-width: 575px) {
				order: 0;
				width: 16.25rem;
				height: 3.625rem;
				margin: 1.25rem 0 0 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}
			@media all and (max-width: 320px) {
				order: -1;
				width: 14.4375rem;
				height: 5.3125rem;
				margin: 0 auto;
				margin-bottom: 1.875rem;
			}
			h4 {
				width: 12.5rem;
				margin-bottom: 0.625rem;
				font-weight: 600;
				font-size: 14px;
				line-height: 132%;
				@media all and (max-width: 767px) {
					font-style: normal;
					font-weight: 600;
					font-size: 12px;
					line-height: 132%;
					margin-bottom: 0.625rem;
				}
				@media all and (max-width: 575px) {
					margin: 0 auto;
					margin-bottom: 0.625rem;
					font-weight: 600;
					font-size: 12px;
					line-height: 132%;
					align-items: center;
				}
				@media all and (max-width: 320px) {
					width: 14.4375rem;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 132%;
				}
			}
			p {
				width: 13.5rem;
				height: 2.25rem;
				font-weight: normal;
				font-size: 14px;
				line-height: 132%;
				@media all and (max-width: 767px) {
				}
				@media all and (max-width: 575px) {
					font-weight: normal;
					font-size: 12px;
					line-height: 132%;
					margin: 0 auto;
				}
				@media all and (max-width: 320px) {
					width: 10rem;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 132%;
					text-align: center;
				}
				span {
					font-weight: 600;
					font-size: 14px;
					line-height: 132%;
					cursor: pointer;
					font-weight: bold;
					@media all and (max-width: 575px) {
						font-style: normal;
						font-weight: 600;
						font-size: 12px;
						line-height: 132%;
					}
					@media all and (max-width: 320px) {
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 132%;
					}

					a {
						color: $footer--text--color;
					}
				}
			}
		}

		.footer__top__three {
			line-height: 132%;
			margin-top: 4.5rem;
			width: 19.0625rem;

			@media all and (max-width: 992px) {
				width: 19.1875rem;
				margin: 1.875rem 0 1.4375rem 0;
			}
			@media all and (max-width: 767px) {
				width: 17.3125rem;
				height: 3.5625rem;
				margin: 1.875rem 0 0 0;
			}
			@media all and (max-width: 626px) {
				margin-left: 1.875rem;
			}
			@media all and (max-width: 575px) {
				order: -1;
				align-items: center;
				margin-left: 0;
			}
			@media all and (max-width: 320px) {
				order: 0;
				margin: 0 auto;
				width: 18.5rem;
				height: 5.3125rem;
			}
			h4 {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 132%;
				margin-bottom: 0.625rem;
				@media all and (max-width: 992px) {
				}
				@media all and (max-width: 767px) {
					font-weight: 600;
					font-size: 12px;
					line-height: 132%;
				}
				@media all and (max-width: 575px) {
					margin: 0 auto;
					font-style: normal;
					font-weight: 600;
					font-size: 12px;
					line-height: 132%;
					text-align: center;
					margin-bottom: 0.625rem;
				}
				@media all and (max-width: 320px) {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 132%;
				}
			}
			p {
				font-weight: normal;
				font-size: 14px;
				line-height: 132%;
				.br__none {
					display: none;
					@media all and (max-width: 320px) {
						display: block;
					}
				}
				@media all and (max-width: 767px) {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 132%;
				}
				@media all and (max-width: 575px) {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 132%;
					text-align: center;
				}
				@media all and (max-width: 320px) {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 132%;
				}
				span {
					font-weight: 600;
					font-size: 14px;
					line-height: 132%;
					cursor: pointer;
					font-weight: bold;
					a {
						color: #ffffff;
					}
					@media all and (max-width: 767px) {
						font-style: normal;
						font-weight: 600;
						font-size: 12px;
						line-height: 132%;
					}
					@media all and (max-width: 575px) {
						font-weight: 600;
						font-size: 12px;
						line-height: 132%;
					}
					@media all and (max-width: 320px) {
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 132%;
					}
				}
			}
		}
	}
	.footer__line {
		border-bottom: 1px solid #7b7b7b;
		max-width: 1440px;
		width: calc(100vw - 172px);
		margin: 0 auto;
		@media all and (max-width: 992px) {
			width: calc(100vw - 60px);
		}
		@media all and (max-width: 320px) {
			display: none;
		}
	}
	.footer__bottom {
		display: flex;
		justify-content: space-between;
		max-width: 1440px;
		width: calc(100vw - 172px);
		margin: 2.5rem auto 4.5625rem auto;
		@media all and (max-width: 992px) {
			width: calc(100vw - 60px);
			height: 1.75rem;
			margin: 2.5rem auto 3.937rem auto;
		}
		@media all and (max-width: 767px) {
			width: calc(100% - 80px);
			margin: 2rem auto;
		}
		@media all and (max-width: 575px) {
			width: 20rem;
			margin: 1.875rem auto 1.875rem auto;
		}
		@media all and (max-width: 380px) {
			width: 17rem;
		}
		@media all and (max-width: 320px) {
			margin-top: 4.3125rem;
			justify-content: center;
		}
		.footer__logo {
			width: 100px;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			cursor: pointer;
			@media all and (max-width: 320px) {
				display: none;
			}
			svg {
				width: 43px;
				height: 28px;
			}
		}
		.footer__social {
			display: flex;

			.footer__ins {
				margin-right: 20px;

				svg {
					cursor: pointer;
				}
			}

			.footer__TG {
				margin: 0;
				padding: 0;

				svg {
					margin: 0;
					padding: 0;
					cursor: pointer;
				}
			}
		}
	}
}
